<html>
  <head>
    <title>TO-DO Manager</title>
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gradient-to-r from-purple-500 to-blue-500 flex justify-center items-center min-h-screen">
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2 py-10">
        <h1 class="text-3xl text-white font-semibold mb-4">To-Do Manager</h1>
        <p class="py-2 text-white">Welcome to the To-Do Manager</p>
        <p class="py-2 text-white">New here? <a href="/signup" class="text-green-300 hover:text-green-500">Sign-up now</a></p>
        <p class="py-2 text-white">Already have an account? <a href="/login" class="text-green-300 hover:text-green-500">Sign-in</a></p>
      </div>
    </div>
  </body>
</html>
